<div class="pensamento {{ pensamento.modelo }} ">
  <div>
    <img
      class="aspas"
      src="../../../../assets/imagens/aspas/{{ pensamento.modelo }}.png"
    />
  </div>
  <div class="conteudo_modelo">
    <p class="conteudo">{{ pensamento.conteudo }}</p>
    <p class="autoria">{{ pensamento.autoria }}</p>
  </div>
  <div class="acoes">
    <button class="editar">
      <img src="../../../../assets/imagens/icones/editar.png" />
    </button>
    <button
      class="excluir"
      routerLink="/pensamentos/excluirPensamento/{{ pensamento.id }}"
    >
      <img src="../../../../assets/imagens/icones/excluir.png" />
    </button>
  </div>
</div>
