.container {
  display: flex;
  justify-content: flex-start;
}

.inicio__esq {
  display: flex;
  width: 35vw;
  background-color: rgb(240, 240, 240);
}

.imgInicio {
  margin: auto;
  object-fit: scale-down;
  width: 30vw;
}

.inicio__dir {
  width: 65vw;
}
