.container {
  display: flex;
  justify-content: flex-start;
}

.inicio__esq {
  display: flex;
  width: 35vw;
  background-color: var(--branco_navajo);
}

.imgInicio {
  margin: auto;
  object-fit: contain;
  width: 30vw;
}

.inicio__dir {
  width: 65vw;
}