<section class="main-container">
  <header class="titulo-container">Adicione um novo pensamento</header>
  <form [formGroup]="formulario" class="formulario-container">
    <label form="pensamento" class="label">Pensamento</label>
    <input
      type="textarea"
      class="input"
      formControlName="conteudo"
      placeholder="Digite um pensamento"
    />
    <div
      class="input__erros"
      *ngIf="formulario.get('conteudo')?.errors?.['required']
      && formulario.get('autoria')?.touched"
    >
      O conteúdo é obrigatório!
    </div>
    <label form="pensamento" class="label">Autoria ou fonte</label>
    <input
      type="textarea"
      class="input"
      formControlName="autoria"
      placeholder="Digite a autoria e fonte"
    />
    <div
      class="input__erros"
      *ngIf="formulario.get('autoria')?.errors?.['required']
      && formulario.get('autoria')?.touched"
    >
      A autoria é obrigatória!
    </div>
    <div
      class="input__erros"
      *ngIf="formulario.get('autoria')?.errors?.['minlength']
       && formulario.get('autoria')?.touched"
    >
      A autoria deve ter no mínimo 3 caracteres!
    </div>
    <label class="label">Selecione o modelo do card :</label>
    <div class="container-radio">
      <div class="radios">
        <label for="modelo1">
          <input
            type="radio"
            id="modelo1"
            value="modelo1"
            formControlName="modelo"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="modelo modelo1">
          <img
            class="aspas amarelas"
            src="../../../../assets/imagens/aspas/modelo1.png"
          />
          <div class="conteudo_modelo">
            <p class="conteudo">{{ formulario.get("conteudo")?.value }}</p>
            <p class="autoria">
              <b>{{ formulario.get("autoria")?.value }}</b>
            </p>
          </div>
        </div>
      </div>
      <div class="radios">
        <label for="modelo2">
          <input
            type="radio"
            id="modelo2"
            value="modelo2"
            formControlName="modelo"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="modelo modelo2">
          <img
            class="aspas verde"
            src="../../../../assets/imagens/aspas/modelo2.png"
          />
          <div class="conteudo_modelo">
            <div class="container_aspas esquerda">
              <p class="conteudo">{{ formulario.get("conteudo")?.value }}</p>
              <p class="autoria">{{ formulario.get("autoria")?.value }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="radios">
        <label for="modelo3">
          <input
            type="radio"
            id="modelo3"
            value="modelo3"
            formControlName="modelo"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia:
        <div class="modelo modelo3">
          <div class="container_aspas direita">
            <img
              class="aspas azul"
              src="../../../../assets/imagens/aspas/modelo3.png"
            />
          </div>
          <div class="conteudo_modelo">
            <p class="conteudo">{{ formulario.get("conteudo")?.value }}</p>
            <p class="autoria">
              <b>{{ formulario.get("autoria")?.value }}</b>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="botoes">
      <button
      [disabled]="!formulario.valid"
      [ngClass]="habilitarBotao()"
      (click)="CriarPensamento()"
      class="botao__salvar">Salvar</button>
      <button (click)="Cancelar()" class="botao cancelar">cancelar</button>
    </div>
  </form>
</section>
