<header class="cabecalho">
  <div class="cabecalho_esq">
    <div class="cabecalho_esq__logo">
      <img class="imagemIdeia_cabelho_esq" src="../../../assets/imagens/cabecalho_ideia.png" />
      <div class="logo__cabecalho_esq">MEMO<em>TECA</em></div>
    </div>
    <div>
      <p>
        Guarde trechos de músicas, citações de livros,<br> pensamentos e suas
        melhores ideias!
      </p>
    </div>
  </div>
  <div class="cabecalho_dir">
    <img
      class="imagem__cabecalho_dir"
      src="../../../assets/imagens/cabecalho_computador.png"
    />
  </div>
</header>
