<section class="container_section">
  <form class="formulario" (ngsubmit)="login()">
    <h2 class="titulo__ login">Login</h2>
    <div class="campo__ usuario">
      <input
        class="input usuario"
        placeholder="Nome do usuário"
        [(ngModel)]="usuario"
        name="usuario"
      />
    </div>
    <div class="campo__ senha">
      <input
        class="input senha"
        type="password"
        placeholder="Senha do usuário"
        [(ngModel)]="senha"
        name="senha"
      />
    </div>
    <button type="submit" class="botao">Fazer login</button>
  </form>
</section>
